.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .CardImg {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card .CardTitle {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0,0,20%);
}

.card .cardText{
  font-family: Arial, sans-serif;
  color: hsl(0,0,40%);
}

.row {
  display: inline-block;
}


.welcome-message {
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
 
.login-prompt {
  font-size: 2.5em;
  background-color: hsl(30, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0,0,20%);
  margin-bottom: 10px;
  text-align:center;
  border: 3px solid;
  border-radius: 5px;
  background-color:burlywood;
}
.list-item li {
  font-size: 2em;
  list-style: none;
  color:hsl(0, 0%, 80%);
  text-align: center;
  margin: 0;
}

.list-item li:hover {
  color: rgb(177, 208, 208);
  cursor: pointer;
}